#filler-config {
    height: 100%;
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    width:100%;
    font-size: 16px;
    display: flex;
}

#filler-config-content {
    width:90%;
    height:90%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#filler-config-model-container{
    width: 100%;
    height: 95%;
}

#filler-config-model-container-header{
    display: flex;
    justify-content: space-between;
}

#filler-config-add-button{
    margin: 10px 0;
    height: 30px;
}

.filler-config-model-title{
    color: white;
    font-size: x-large;
    padding: 10px;
}

.filler-config-model-desc{
    font-size: smaller;
    font-style: italic;
    color: #ffffff66;
    margin-left: 10px;
    margin-bottom: 5px;
}

#filler-config-model-definition-container{
    width:100%;
    height:100%;
    overflow-y:auto;
    margin: 10px;
}

#filler-config-footer{
    display: flex;
    justify-content: center;
    width: 100%;
}

#filler-config-model-definition-container {
    width: 100%;
    height: 75vh;
    font-size: 16px;
    background: rgba(25, 25, 25, 0.63);
    color: #ffffff;
    font-size: 16px;
    overflow: auto;
    margin-top:20px;
}

#model-definition{
    display: flex;
    flex-direction: column;
}

.model-definition-item-container {
}

.model-definition-item-container:hover .model-definition-item-splitter{
    border-color: #0078e7 !important;
}

.model-definition-item{
    display: flex;
    justify-content: space-between;
    margin: 15px 10px;
}

.model-definition-item-splitter{
    width: 97% !important;
    border-color: #3a3a3e !important;
}

.swing li {
    opacity: 0;
    transform: rotateY(-90deg);
    transition: all 0.5s cubic-bezier(.36,-0.64,.34,1.76);
}

.model-definition-item-key{
    width:30%;
    word-break: break-all;
}

.model-definition-item-value{
    width:30%;
    word-break: break-all;
}

.model-definition-item-actions{
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.model-definition-item-edit{
    width:30%;
    margin: 0 5px;
    color: black;
}

.model-definition-item-edit-buttons{
    display: flex;
    justify-content: flex-end;
    color: white;

}

.model-value-edit-input{
    color: rgb(51, 122, 183);
    top: 3px;
    position: relative;
}

.model-value-edit-input-button {
    font-size: 12px !important;
    margin-left: 5px;
}

#filler-config ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

#filler-config ::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

#filler-config ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, rgb(122
    , 153, 217)), color-stop(0.72, rgb(73, 125, 189)),
    color-stop(0.86, rgb(28, 58, 148)));
}

.edit-button{
    color: white;
    font-size: small;
}

.input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#filler-config-cancel-button{
    margin-right:25px;
}

input{
    height: 25px;
    margin: auto 0 !important;
    border-radius: 4px;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes zoomInDown {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
        transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
        transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
}

@keyframes zoomInDown {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
        transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
        transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
}

.zoomInDown {
    -webkit-animation-name: zoomInDown;
    animation-name: zoomInDown;
}